{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block style %}
<link rel="stylesheet" href="{% static 'accounts/login.css' %}" />
{% endblock %}
{% block content %}
<section class="se">
    <div class="login">
        <h1 style="text-align: center;">Log In</h1>
        <form class="uniForm lf" method="POST">
            {% csrf_token %}

            {{ form|crispy }}

            <input type="submit" class="mt-2 btn btn-primary" value="Log In">
        </form>
    </div>
</section>
{% endblock %}