*{
    margin: 0;
    top: 0;
    left: 0;
    box-sizing: border-box;
    font-family: 'Kufam', cursive;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: cadetblue;
    height: 2.5rem;
    
}
.logo a{
    font-weight: bold;
    color: cornsilk;
    text-decoration: none;
    font-size: 1.2rem;
    padding-left: 2rem;
}
.authentication a{
    margin-right: 3rem;
    text-decoration: none;
    color: cornsilk;
    transition: 0.3s;
}
.authentication a:hover{
   letter-spacing: 4px;
   font-size: 1.2rem;
}