.se{
    font-family: 'Kufam', cursive;
    min-height: 93vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
/* background: linear-gradient(
        to right bottom,
        #65dfc9,
        #6cdbeb
    ); */
.login{
    width: 50vw;
    height: 40vh;
    border-radius: 2rem;
    /* background: linear-gradient(
        to right bottom,
        rgba(255,255,255,0.7),
        rgba(255,255,255,0.3)
    ); */
    
}
.login h1{
    margin: 1rem 0rem;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
input{
    
    height: 1.5rem;
    margin-bottom: 0.8rem;
    border : none;
    outline: none;
}
.lf input[type=text],[type=password]{
    width: 100%;
    padding-left: 12px;
    margin-right: 20px;
    box-sizing: border-box;
}
input[type=submit]{

    letter-spacing: 2px;
    transition: 0.2s;
}
input[type=submit]:hover{
    letter-spacing: 6px;
}


